<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jetlinks.community.standalone.goview.v2.mapper.DimensionUserMapper">
    <select id="selectByUserId" resultType="java.lang.String">
        SELECT GROUP_CONCAT(user_id SEPARATOR ', ') AS userId
        FROM s_dimension_user
        WHERE dimension_id IN (
            SELECT dimension_id
            FROM s_dimension_user
            WHERE user_id = #{userId} and dimension_type_id = 'org'
        )
        GROUP BY user_id
    </select>
</mapper>
